@model WebApplication1.Models.PS

@{
    
    Layout = null;
}

<p>@using (Html.BeginForm())
{
    <br />
    <div class="form-actions no-color">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <input type="submit" value="Aprobar PS" class="btn btn-success" />        
    </div>
}
</p>
