@model WebApplication1.Models.PS

@{

    Layout = null;
}

<p>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "cancelarps" }))
    {
    <br />
    <div class="form-actions no-color row text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <input type="submit" value="Confirmar Cancelación" class="btn btn-danger" />
    </div>
}
</p>


<script>
        $('#cancelarps').submit(function (e) {
            var cancelar = this;
            e.preventDefault();
            //var x=document.getElementById("RoleID").innerText;
            bootbox.confirm("Esta acción no puede ser restablecida, ¿Desea continuar?", function (result) {
                if (result) {
                    cancelar.submit();
                }
            });
        });
</script>