<hr />
<h2>Areas Planes</h2>
<hr />

@using (Ajax.BeginForm("_GraficoAreasPlanes", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}))
{
    @Html.AntiForgeryToken()
    <h2 class="no-print">Quiero rango</h2>
    <div class="form-horizontal no-print">
        <input id='from' class="form-control" type="date" name='fecha1' />
        <input id='to' class="form-control" type="date" name='fecha2' />
        <input type='submit' value='Ok' />


    </div>
}

<div id="ajaxBeginFormResult"></div>




