<hr />
<h2>Areas Informes</h2>
<hr />

@using (Ajax.BeginForm("_GraficoAreasInformes", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}))
{
    @Html.AntiForgeryToken()
    <h2>Quiero rango</h2>
    <div class="form-horizontal">
        <input id='from' class="form-control" type="date" name='fecha1' />
        <input id='to' class="form-control" type="date" name='fecha2' />
        <input type='submit' value='Ok' />


    </div>
}
<div id="ajaxBeginFormResult"></div>
