
<hr />
<h2>Año ingreso PS</h2>
<hr />

@using (Ajax.BeginForm("_GraficoAñoIngresoPS", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}))
{
    @Html.AntiForgeryToken()
    <h2>Quiero rango</h2>
    <div class="form-horizontal">
        <input id='from' type="number" name='fecha1' />
        <input id='to' type="number" name='fecha2' />
        <input type='submit' value='Ok' />


    </div>
}
<div id="ajaxBeginFormResult"></div>







