


@using (Ajax.BeginForm("_GraficoAñoIngresoPS", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}, new { id = "myform" }))
{
    @Html.AntiForgeryToken()
    <br/>
    <div>
        <h1 class="text-center ">Alumnos por año de ingreso</h1>
        <hr style="color:grey;border-color:grey" />
    </div>
    <h3 style="margin-left: 250px">Ingrese años:</h3>
    <br/>
    <div class="form-horizontal text-center">
        <label>Desde:</label>
        <input id='from' type="number"  required name='fecha1' max="2999" min="1900" data-rule-menor="true" placeholder="aaaa"/>
        <label>Hasta:</label>
        <input id='to' type="number" required name='fecha2' max="2999" min="1900" placeholder="aaaa"/>
        &nbsp; &nbsp;
        <span id="spanfechamenor" style="color:red"></span>

        <button type="submit" class="btn btn-info btn-xs glyphicon glyphicon-search" ></button>

    </div>
}
<div id="ajaxBeginFormResult" class="text-center">
    <h4>
        <br/>
        <br/>
        <br />
        <text style="font-style: italic">Aquí tendrá el gráfico y los detalles de su solicitud luego de haber ingresado los años "desde" y "hasta".</text>
    </h4>
</div>

















