
<h2 class="text-center">Estadística de Informes por Estado</h2>
<hr style="color: grey; border-color: grey;margin-bottom: 0px" />

@using (Ajax.BeginForm("_GraficoEstadosInformes", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}))
{
    @Html.AntiForgeryToken()
    <div class="hidden-print">

        <div class="row">
            <div class="col-lg-1"></div>
            <h3 class="col-lg-4">Ingrese rango de fechas</h3>
        </div>
        <br />
        <div class="row form-horizontal">
            <div class="col-lg-1"></div>
            <label class="col-lg-1">Desde:</label>
            <input id='from' class="form-control col-lg-1"required  min="1900-01-01" max="2100-01-01" type="date" name='fecha1' style="width: 200px"/>
            <div class="col-lg-1"></div>
            <label class="col-lg-1">Hasta:</label>
            <input id='to' class="form-control col-lg-1" required min="1900-01-01" max="2100-01-01" type="date" name='fecha2' style="width: 200px"/>
            <div class="col-lg-1"></div>
            <input type='submit'  onclick="ordenFechas()" value='Confirmar' class="btn btn-success col-lg-1"/>
        </div>
        <br />
        <div class="text-center">
            <span id="spanOrdenFechas" style="color: red"></span>
        </div>
    </div>
}
        <div id="ajaxBeginFormResult"></div>
