

<br/>
<br/>

@using (Ajax.BeginForm("_GraficoEstadosPlanes", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}))
{
    @Html.AntiForgeryToken()
    <h2 class="text-center">Ingrese rango de fechas</h2>
    <div class="form-horizontal">
        <div class="form-horizontal text-center">
            <label>Desde:</label>
            <input id='from' class="form-control" type="date" name='fecha1' style="width:200px" />
            <label>Hasta:</label>
            <input id='to' class="form-control" type="date" name='fecha2' style="width:200px"/>
        </div>
        <input type='submit' value='Ok' />

      
    </div>
}
<div id="ajaxBeginFormResult"></div>
