@{
    ViewBag.Title = "Contacto";
}
<br/><br/>
<div class="text-center">
    <img src="~/Content/Images/logogodesa.png">
    <br/>
    <address>

        Vicente Lopez y Planes 1184<br/>
        <abbr title="Telefono">Cel:</abbr>
        +54 3777 544623
    </address>
    <address>
        <strong>E-Mail:</strong>   <a href="mailto:godesasolutions@gmail.com">godesasolutions@gmail.com</a><br />

    </address>
    <br />
    <h5>Agradecemos su visita y le recordamos que todo nuestro personal se encuentra a su entera disposición. </h5>
    <br />
    
    
</div>



