@{
    ViewBag.Title = "Contacto";
}
<h2>Contacto</h2>
<h6>Agradecemos su visita y le recordamos que todo nuestro personal se encuentra a su entera disposición para proporcionarle de inmediato los servicios que su empresa necesite.</h6>

<address>
    Godesa Solutions.<br />
    Vicente Lopez y Planes 1184<br />
    <abbr title="Telefono">Cel:</abbr>
    +54 3777 544623
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:godesasolutions@gmail.com">godesasolutions@gmail.com</a><br />
    @*<strong>:</strong> <a href="mailto:Marketing@example.com">poncemarioleo@gmail.com</a>*@
</address>