
@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido al sistema gestión de PS</h2>

<h4>Para comenzar, puede seleccionar una de las sieguientes opciones:</h4>

<br />
<br />
<br />
<br />

    <div class="text-center">
        <a class="btn btn-primary text-center btn-lg btn-warning" style="width: 300px; height: 50px;padding-top: 10px " href="@Url.Action("Index","Alumnos")">
            Ver listado de alumnos
        </a>
    </div>
<br />
<br />
<br />
<div class="text-center">
    <a class="btn btn-primary text-center btn-lg btn-warning" style="width: 300px; height: 50px;padding-top: 10px" href="@Url.Action("Index","PS")">
        Ver listado de PS
    </a>
</div>
